@font-face {
  font-family: "Roboto Flex";
  src: url("../fonts/RobotoFlex.ttf") format("truetype");
}
@font-face {
  font-family: "Hyperwave";
  src: url("../fonts/Hyperwave.otf") format("opentype");
}
a {
  color: #ff1818;
  text-decoration: none;
  font-family: 'Mulish', sans-serif;
}
a:hover {
  cursor: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121212;
  color: white;
  cursor: none;
  overflow: hidden;
  height: 100vh;
}

.loader {
  background: #121212;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000000000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: scale(1);
  transition: all 0.25s ease-in-out;
  flex-direction: column;
}
.loader h1 {
  -webkit-animation: loader 0.25s ease-in-out infinite;
          animation: loader 0.25s ease-in-out infinite;
}
.loader.not-active {
  transform: scale(2);
  opacity: 0;
}
.loader.not-active.disable {
  display: none;
}

.wrap {
  display: flex;
}

p, span, h1, h2, h3, h4, h5, h6 {
  font-family: 'Unbounded', cursive;
}


h2 {
  font-size: 64px;
  letter-spacing: 4px;
  font-weight: 1000;
}

h1.title {
  
  font-size: 96px;
  letter-spacing: 4px;
  font-weight: 1000;
}
h1.title.style {
  font-size: 120px;
  color: #ff1818;
  font-family: 'Monoton', cursive;
}

.cursor {
  width: 24px;
  height: 24px;
  border: 2px solid #ff1818;
  border-radius: 100%;
  position: absolute;
  z-index: 666666;
}

@media only screen and (max-width: 768px) {
  .cursor {
    display: none;
  }
  * {
    cursor: auto;
  }
}
nav {
  margin: 0 16px;
  padding: 16px 0;
  width: 10%;
  min-width: 200px;
  height: 100vh;
}
nav ul li {
  margin: 4px 0;
  padding: 8px 8px 8px 12px;
  transition: all 0.25s ease-in-out;
  border-radius: 8px;
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
}
nav ul li:before {
  content: "";
  position: absolute;
  left: 0;
  height: calc(100% - 12px);
  width: 4px;
  opacity: 0;
  background: #ff1818;
  border-radius: 2px;
  transition: all 0.25s ease-in-out;
}
nav ul li:hover {
  background: rgba(255, 255, 255, 0.1);
}
nav ul li a {
  color: white;
}
nav ul li.active {
  background: rgba(255, 255, 255, 0.1);
}
nav ul li.active:before {
  opacity: 1;
}

.screen {
  height: 100vh;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.screen .activity {
  height: 100%;
  display: none;
}
.screen .activity .btn {
  display: inherit;
}
.screen .activity.active {
  -webkit-animation: switchScreenOn 0.25s ease-in-out;
          animation: switchScreenOn 0.25s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: block;
}
.screen .activity.active .btn {
  display: flex;
}
.screen .activity.active.one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 8px 16px;
  border: 2px solid #ff1818;
  font-family: 'Mulish', sans-serif;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn.next-btn {
  position: absolute;
  bottom: 32px;
  right: 16px;
}

.our-comand {
  display: flex;
  margin-top: 16px;
}
.our-comand .names {
  width: 50%;
}
.our-comand .names li {
  list-style: none;
  padding: 8px;
  border-radius: 8px;
  margin-right: 16px;
}
.our-comand .names li p {
  
  font-size: 36px;
}
.our-comand .names li.active {
  background: rgba(255, 255, 255, 0.1);
}
.our-comand .info {
  width: 50%;
}
.our-comand .info .info-block {
  display: none;
}
.our-comand .info .info-block img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 256px;
  height: 256px;
  border-radius: 50%;
}
.our-comand .info .info-block.active {
  display: block;
}

@-webkit-keyframes switchScreenOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes switchScreenOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes loader {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes loader {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */