section#team .row .navigation-buttons {
  display: flex;
}
section#team .row .navigation-buttons p {
  padding: 16px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  border-radius: 16px;
}
section#team .row .navigation-buttons p:hover {
  transform: translateY(-4px);
  background: rgba(255, 255, 255, 0.2);
}
section#team .person {
  max-width: 1200px;
  margin: 0 auto;
  display: none;
}
section#team .person.show {
  display: flex;
}
section#team .info {
  margin-left: 32px;
}
section#team .info h1.name {
  margin-bottom: 40px;
  font-size: 2rem;
  color: white;
  font-family: "Unbounded", sans-serif;
}
section#team .info p.info {
  font-size: 1.2rem;
}
section#team .info .skills {
  margin-top: 24px;
}
section#team .info .skills img.badge {
  border-color: white;
  border-radius: 8px;
  border: 1px solid #9f9f9f;
  margin: 2px;
}
section#team img.photo {
  width: 500px;
  height: 500px;
  border-radius: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 1024px) {
  section#team .person {
    max-width: 90%;
  }
  section#team .person h1.name {
    margin-bottom: 16px;
    font-size: 24px;
  }
  section#team .person p.info {
    font-size: 0.8rem;
  }
  section#team img.photo {
    width: 300px;
    height: 300px;
    border-radius: 16px;
    margin-bottom: 32px;
  }
}
@media only screen and (max-width: 768px) {
  section#team .person {
    flex-direction: column;
    align-items: center;
  }
  section#team .info {
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
	section#team > div.person {
		margin-top: -16spx;
	}
	section#team > div > div.info {
		margin: 0 16px;
	}
	section#team > div > div.info > h1.name {
		margin-top: 24px;
		font-size: 1.5rem;
		color: white;
		font-family: "Unbounded", sans-serif;
	}
	section#team > div > div.info > p.info {
		font-size: 1rem;
		margin-top: -24px;
	}
}