@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap");


section#blog {
	font-family: 'Mulish', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 0 50px;
}

section#blog #app {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 100%;
	width: 1020px;
}

section#blog .project {
	border-radius: 5px;
	color: #333;
	display: flex;
	font-size: 18px;
	font-weight: bold;
	flex-direction: column;
	text-align: center;
	margin: 20px;
	width: 300px;
	text-decoration: none;
	transition: 0.3s ease;
}

section#blog .project:hover {
	background-color: #414141;
	transform: scale(1.05);
}

section#blog .project img {
	border-radius: 10px;
	max-width: 100%;
}

section#blog .floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

section#blog .floating-text a {
	color: #FF7500;
	text-decoration: none;
}

