/* reset */

/* other */
section#info .wrap {
  max-width: 1200px;
  margin: 0 auto;
}
section#info .wrap .content {
  display: flex;
}
section#info p {
  color: #fff;
  font-size: x-large;
  margin-top: 16px;
}

section#info ul {
  color: #fff;
  font-size: x-large;
  font-family: 'Mulish';
}

section#info ul li {
  color: #fff;
  font-family: 'Mulish';
}

/* block-$ */
section#info .block-effect {
  font-size: 64px;
}

section#info .block-effect.block-reveal {
  --t: calc(var(--td) + var(--d));

  color: transparent;
  padding: 4px;

  position: relative;
  overflow: hidden;

  animation: revealBlock 0s var(--t) forwards;
}

section#info .block-effect.block-reveal::after {
  content: '';

  width: 0%;
  height: 100%;
  padding-bottom: 4px;

  position: absolute;
  top: 0;
  left: 0;

  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}

section#info .morph-section {
  font-family: monospace;
  color: #fff;
}

/* animations */
@keyframes revealBlock {
  100% {
    color: #fff;
  }
}

@keyframes revealingIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes revealingOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@media only screen and (max-width: 768px) {
  section#info .wrap .content {
    flex-direction: column;
    align-items: center;
  }
  section#info .wrap {
    margin: 16px;
  }
}