/* reset */

/* other */
section#info .info {
  margin: 20px 0;
  text-align: left;
}

section#info .info p {
  color: #fff;
  margin-left: 100px;
  font-size: x-large;
}

section#info .info ul {
    margin-top: 20px;
    color: #fff;
    margin-left: 125px;
    font-size: x-large;
    font-family: 'Mulish';
  }

/* block-$ */
section#info .block-effect {
  font-size: 64px;
  
  margin-left: 50px;
}

section#info .block-effect.block-reveal {
  --t: calc(var(--td) + var(--d));

  color: transparent;
  padding: 4px;

  position: relative;
  overflow: hidden;

  animation: revealBlock 0s var(--t) forwards;
}

section#info .block-effect.block-reveal::after {
  content: '';

  width: 0%;
  height: 100%;
  padding-bottom: 4px;

  position: absolute;
  top: 0;
  left: 0;

  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}

section#info .morph-section {
  font-family: monospace;
  color: #fff;
  position: absolute;
  margin-left: 65%;
}

section#info .info .iksweb {
  display: block;
  margin-right: auto;
  margin-left: 100px;
  margin-top: 20px;
  cursor: pointer; 
  font-size: 24px;
  text-decoration: none;
  padding: 15px 20px; 
  color: #ffffff;
  background: #090909;
  border-radius: 10px;
  border: 2px solid #ff0000;
  font-family: "Mulish", sans-serif;
  width: 240px;
  
}
                  
section#info .info .iksweb:hover {
  background:#ff0000;
  color:#ffffff;
  border: 2px solid #ffffff;
  transition: all 0.2s ease;
  transform: translateY(0px);
}

/* animations */
@keyframes revealBlock {
  100% {
    color: #fff;
  }
}

@keyframes revealingIn {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }

}
