nav {
	background: rgba(0, 0, 0, .5);
	z-index: 100;
	width: 100%;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	backdrop-filter: blur(8px);
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        a {
            color: white;
            text-decoration: none;
            padding: 16px;
            font-family: "Mulish", sans-serif;
            transition: all .25s ease-in-out;
            &:hover {
                transform: translateY(-4px);
            }
        }
        .logo {
            color: red;
            padding: 16px;
            font-family: "Unbounded";
        }
    }
}